body{
    padding:auto;
    margin:auto;
    background-image:url(https://www.xtrafondos.com/wallpapers/resized/edificios-ciudad-de-noche-3183.jpg?s=large);
    
  
    
}
a{
    text-decoration: none;
    color: gold;
}
h1{
  color:  red; 

}

ul{
    list-style-type: none;
    background-color: rgb(145, 45, 145);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    float:right ;
    
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(46, 46, 100);
}
.login{
float: right;
}
.login a:hover{
    
   background-color: rgb(46, 46, 100);
    
}


    
button1{
    background-color: #04AA6D;
    color: white;
    padding: 4px 4px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
}


.boton{
    background-color: #04AA6D;
    padding: 4px 4px;
    margin: 4px 0;
    border none;
    width: 5%;
    
}
.boton a:hover{
    background-color: rgb(46, 46, 100);
}

